@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap');

*{
margin: 0;
padding: 0;
}

body {
    font-family: 'Padauk', sans-serif;
    background-color: #918a8a;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.card{
    background-color: #ffffff;
    margin-top: 30px;
    padding: 16px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    
}
#mostrar{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

#mostrar img{
   margin: 5px;
   margin-top: -3px;
}


.tabuleiro{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 40px;
}

.espaco{
   width: 80px;
   height: 80px;
   border: 2px solid black;
   text-align: center;
   
}

.linha{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}
#result{
padding: 10px;
}